.notifs-container {
    color: hsl(219, 14%, 63%);
    font-weight: 500;
    img {
        width: 40px;
        margin-right: 20px;
    }

    div {
        
       & > span {
            font-weight: 800;
            color:  hsl(224, 21%, 14%);
            cursor: pointer;
            &:hover{
                color:hsl(219, 85%, 26%)
            }
        }
        
       & > p {
            font-size: 0.9em;
            margin: 3px 0;
        }

        & > div {
            margin: 15px;
            padding: 10px;
            width: 35rem;
            overflow: hidden;
            border: 1px solid hsl(205, 33%, 90%);
            border-radius: 5px;
            cursor: pointer;
           &:hover {
            background-color: hsl(205, 33%, 90%);
            color: hsl(224, 21%, 14%);
           }
           @media (max-width: 767px) {
            width: 14rem;
            margin: 10px;
           }
        }
        .message-notif{
            height: 90px;
            @media (max-width: 767px) {
                height: max-content;
               }
        }
    }
}

