.notification-container {
    background-color: hsl(0, 0%, 100%);
    // height: max-content;
    width: 45rem;
    height: max-content;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border: 1px solid black; 
    @media (max-width: 767px) {
        width: 90%;
      }

}